.container {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.imgProfile {
  border-radius: 50%;
  box-shadow: 0 10px 10px -10px white;
  height: 25%;
}

.title {
  color: #80ddf7;
  font-size: 1.8em;
  padding: 20px;
  text-align: center;
}

.icon {
  height: 30px;
  width: 30px;
  padding: 0 10px;

  path {
    fill: #fff;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 4em;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2em;
  }
}
