.containerAboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.imgProfile {
  border-radius: 50%;
  box-shadow: 0 10px 10px -10px var(--text-color);
  width: 15%;
}

.title {
  color: var(--title-color);
  font-size: 1.8em;
  padding: 20px;
  text-align: center;
}

.paragraph {
  color: var(--text-color);
  padding: 10px;
  text-align: justify;
}

.aboutMe {
  width: 40%;
}

.containerIcons {
  margin: 20px 0;
}

.icon {
  height: 30px;
  padding: 0 10px;
  width: 30px;

  path {
    fill: var(--text-color);
  }
}

@media (max-width: 900px) {
  .imgProfile {
    width: 40%;
  }

  .aboutMe {
    width: 75%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 899px) {
  .containerAboutMe {
    margin-top: 20px;
  }

  .imgProfile {
    width: 40%;
  }

  .aboutMe {
    width: 90%;
  }
}
