.container {
  align-items: center;
  background-color: #282C34;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.title {
  color: #61DAFB;
  font-size: 7em;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 4em;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2em;
  }
}
